-f https://download.pytorch.org/whl/torch_stable.html

datasets==1.11.0
torch==1.7.1+cu110
transformers==4.38.0
lxml==4.9.1
absl-py==0.12.0
tqdm==4.66.3
networkx==2.6
tensorboardX==1.8
bs4==0.0.1
huggingface-hub>=0.13.4 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability