torch==1.7.1
torchvision==0.8.2
timm==0.3.2
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
deepspeed==0.15.2
scipy
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
