numpy
boto3
requests
tqdm
regex != 2019.12.17
sacremoses
tensorboardX
transformers == 2.10.0
scipy  
seqeval 
sklearn 
urllib3==1.26.5
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability